name: Upload Python Package to PyPI when a Release is Created

on:
  release:
    types: [created]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/aoc-plumber
    permissions:
      id-token: write
      packages: read
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      # 3.10 is the minimum supported version for this project
      - name: Ensure Python 3.10 is installed
        run: uv python install 3.10

      - name: Install tomli
        run: uv run --python 3.10 pip install tomli

      - name: Check version match
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/}
          PYPROJECT_VERSION=$(python -c "import tomli; print(tomli.load(open('pyproject.toml','rb'))['project']['version'])")

          echo "Tag version: $TAG_VERSION"
          echo "Pyproject version: $PYPROJECT_VERSION"

          if [ "$TAG_VERSION" != "$PYPROJECT_VERSION" ]; then
            echo "Tag version does not match"
            exit 1
          fi

      - name: Build
        run: uv build --python 3.10

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
