name: Test Python package

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"] # add more versions

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Init venv
        run: uv venv

      - name: Install package and dependencies
        run: uv pip install --editable .[dev]

      - name: Run tests
        run: uv run pytest
